*,
*::before,
*::after {
  padding: 0;
  margin-inline: auto;
}

img {
  display: block;
}

body {
  font-family: "Rubik", "Arial", sans-serif;

  background-color: #fdfdfd;

  background-color: #f7f5f3;

}
