@use "../abstracts/mixins" as *;

.site-header {
    padding-top: 59px;
    padding-bottom: 98.86px;
}

.site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__logo {
    margin-right: 253px;
    margin-left: 0;
}

.site-header__list {
    @include listUnstyled;
    display: flex;
    align-items: center;
    gap: 60px;
}

.site-header__link {
    font-family: "DMSans";
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    text-align: left;
    text-decoration-line: none;
    transition: 0.3s;
    
    &:hover {
        color: #F35F2F;
    }
}

.site-header__contact-button {
    font-family: "DMSans";
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    margin-left: 249px;
    padding-block: 12px;
    padding-left: 24px;
    padding-right: 21px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
}