@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.site-creative {
  &__title {
    margin: 0;
    margin-bottom: 55px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52.08px;
    text-align: center;
  }

  &__link {
    padding-block: 13px;
    padding-inline: 26px;
    border-radius: 5px;
    opacity: 85%;
    text-decoration: none;
    background: linear-gradient(
      2.79deg,
      #f35f2f -13.68%,
      rgba(243, 95, 47, 0.75) 121.16%
    );
    color: var.$main-text-bg-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.04px;
    margin-top: 31px;
    font-family: sans-serif;
    transition: all 0.4s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.05)
    }
  }

  .wrapper {
    @include mix.display-full;
    flex-wrap: wrap;
    row-gap: 29px;
    &__business-img {
      width: 100%;
      margin: 0;
    }

    &__box {
      width: 392px;
      margin: 0;
      text-align: center;
    }

    &__title {
      margin: 0;
      padding-top: 20px;
      padding-bottom: 25px;
      font-size: 20px;
      font-weight: 500;
      line-height: 26.04px;
      background-color: var.$main-text-bg-color;
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      box-shadow: 0px 7px 23px -15px rgba(0,0,0,0.15);
    }
  }
}

// SITE TEAM

.site-team {
  &__inner {
    margin-top: 120px;
    text-align: center;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 44px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52.08px;
  }

  &__meet {
    @include mix.display-full;
    column-gap: 36px;
  }

  &__box {
    width: 267px;
    padding-inline: 13px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 1px solid var.$main-border-color;
    text-align: center;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 65px -38px rgba(0, 0, 0, 0.09);
  }

  &__img {
    width: 100%;
    margin: 0;
  }

  &__name {
    margin-top: 18px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }

  &__lvl {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var.$main-text-second-color;
  }

  &__logos {
    width: 132px;
    display: flex;
    margin-top: 17px;
  }

  &__logo {
    margin: 0;
  }
}

.meet-box {
    padding-top: 3px;
    padding-inline:12px;
    background-color: #fafafafa;
}