@use "../abstracts/mixins" as mix;

.service-section {
    padding-bottom: 60px;
}

.service-section__title {
    font-family: 'DMSans';
    font-size: 40px;
    font-weight: 700;
    line-height: 52.08px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 55px;
}

.service-section__list {
    @include mix.listUnstyled;
    display: flex;
    justify-content: space-between;
    padding-block: 54px;
    padding-left: 67px;
    border: 2px solid #EBEBEBCC;
    border-radius: 10px;
}

.service-section__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 93px;
    border-right: 2px solid #EBEBEBCC;
}

.service-section__item:nth-child(3) {
    border-right: none;
}

.service-section__item:nth-child(2) {
    padding-right: 117px;
}

.service-section__item-heading {
    font-family: "DMSans";
    font-size: 36px;
    font-weight: 700;
    line-height: 46.87px;
    margin-top: 23px;
    margin-bottom: 13px;
}

.service-section__item-desc {
    font-family: "DMSans";
    font-size: 24px;
    font-weight: 400;
    line-height: 31.25px;
    margin-block: 0;
}